@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');



*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
 
}

body{
  height: 100%;
  width: 100%;
  background-color: #E2DBD4;
  font-family: "Playfair", serif;
  color: #6A5975;
  overflow-x: hidden;
}
